.header {
  background-color: white;
  margin-bottom: 4rem;
}

.logo {
  flex: 1;
}

.page-head {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.page-title {
  flex: 5;
  text-align: left;
}

.title-1 {
  font-size: 2.8rem;
}

.filter-bar {
  flex: 2;
  text-align: right;
}

.filter-bar select {
  width: 200px;
  height: 40px;
  border: 1px solid #cccccc;
  margin-top: 40px;
  padding: 10px;
  padding: 10px;
}
